# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# 原始資料（不要推上去）
data/user_mobile_app_interaction_data.csv

# 允許清理後資料被追蹤
!data/processed_app_interactions.csv

# Envs
venv/
.env/

# Logs / IDE / system
*.log
.vscode/
.DS_Store

